<%-include('../tela01')-%>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron jumbotron-fluid" style="background-color: #e1140a; color: white;">
                <div class="container">
                    <h1 class="display-4">Adicionar Categoria</h1>
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="titulo">Título:</label>
                            <input type="text" class="form-control" name="titulo" id="titulo">
                        </div>
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%-include('../rodape')-%>
