<%-include('../tela01')-%>
<h1>Edita Categoria</h1>
<form method="post" enctype="multipart/form-data">
    Titulo: <input type="text" name="titulo" id="titulo" value="<%=Categoria.titulo%>"><br />
    <input type="submit" value="Adicionar">
</form>
<%-include('../rodape')-%>